body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #f9f9f9;
  color: #333;
}

textarea {
  background-color: #fff;
  border: none;
  resize: none;
  color: #333;
  border-left: 1px solid #ddd;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: #06aed5;
  color: #fff;
  border-radius: 0;
  border-bottom: 10px solid #333;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #ddd;
}

.hour {
  background-color: #fff;
  color: #333;
  border-top: 1px dashed #ddd;
}

.past {
  background-color: #f5f5f5;
  color: #333;
}

.present {
  background-color: #06aed5;
  color: #fff;
}

.future {
  background-color: #fff;
  color: #333;
}

.saveBtn {
  border-left: 1px solid #ddd;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #333;
  color: #fff;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  color: #06aed5;
}